@media only screen and (min-width: 1200px){
    .container {
        max-width: 1210px;
        margin: auto;
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .header-right {
        .header-btns {
            .header-btn{
                font-size: 14px;
                line-height: 150%;
            }
        }
        ul{
            max-width: 410px;
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    .banner-section {
        .overlay2{
            padding-top: 200px;
        }
    }
    .banner-text {
        max-width: 630px;
        h3{
            margin-bottom: 0px;
            font-size: 32px;
        }
        h1{
            margin: 25px 0px;
            font-size: 70px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    .feature-section{
        padding-bottom: 100px;
    }
    .about-card {
        .overlay{
            padding: 50px;
        }
    }
    .tokenomics-section {
        .tokenomics-content {
            p{
                margin-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .meet-racing-dog-section {
        .overlay{
            padding-bottom: 100px;
            padding-top: 50px;
        }
    }
    .tokenomics-section{
        padding-bottom: 100px;
    }
    .tokenomics-data-section {
        .wallte-address {
            h5 {
                font-size: 16px;
            }
        }

        .tokenomics-data {
            h6 {
                font-size: 16px;
                padding: 25px 0px;
            }
        }
        .wallte-address{
            margin-top: 25px;
        } 
    }
    .affiliate-section{
        padding-top: 80px;
    }
    .buy-metadog-section{
        padding-top: 100px;
    }
    .start-playing-section{
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .faq-section{
        padding-bottom: 150px;
    }
    .footer-card{
        padding: 50px 35px;
    }
    .footer-bottom{
        padding: 30px 0px;
    }
    .roadmap-card {
        padding: 23px 16px;
        .card-title{
            font-size: 19px;
        }
    }
    .section-title {
        .title{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .subtitle{
            font-size: 40px;
        }
    }
    .affiliate-text {
        h4{
            margin-bottom: 40px;
            font-size: 30px;
        }
    }
    .race-section {
        .dog {
            .dog-inner{
                max-width: 80%;
            }
        }
    }
}


@media only screen and (max-width: 991px) {
    .header-right{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .banner-text {
        margin: auto;
        text-align: center;
    }
    .banner-btns{
        justify-content: center;
    }
    .banner-bottom-section{
        flex-direction: column;
        justify-content: center;
        .banner-timer{
            text-align: center;
        }
    }
    .banner-bottom-section{
        justify-content: flex-start;
        margin-top: 50px;
    }
    .about-card {
        background: url(../images/bg/about-bg-phn.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        .overlay{
            padding-top: 237px !important;
            background: linear-gradient(180deg, rgba(3, 6, 89, 0.00) 0%, #030659 48.82%);
        }
        .about-text{
            text-align: left;
            p{
                &.hide{
                    display: none;
                }
            }
            .show-more{
                display: block;
            }
        }
    }
    .tokenomics-data-section {
        flex-wrap: wrap;
        .tokenomics{
            &-left{
                width: 100%;
            }
            &-center{
                max-width: 400px;
                margin: 30px auto;
                width: 100%;
            }
            &-right{
                width: 100%;
            }
        }
    }
    .affiliate-section{
        z-index: 1;
        &::after{
            height: 150px;
            width: 150px;
        }
    }
    .start-playing-img {
        .dog-img{
            right: -10%;
            width: 60%;
        }
    }
    .race-section {
        .dog {
            .dog-inner{
                max-width: 70%;
            }
        }
    }
    .race-section {    
        .dog {
            position: absolute;
    
            &1 {
                right: 5%;
                bottom: 0%;
            }
    
            &2 {
                top: 20%;
                right: 15%;
            }
    
            &3 {
                left: 30%;
                top: 50%
            }
    
            &4 {
                top: 20%;
                left: 20%;
            }
    
            &5 {
                bottom: -5%;
                left: 25%;
            }
    
            &6 {
                top: 45%;
                left: 5%;
            }

        }
    }
    .start-playing-content {
        h2{
            font-size: 40px;
        }
    }
}

@media only screen and (max-width: 768px) {
    body{
        font-size: 16px;
        line-height: 30px;
    }
    .tokenomics-section {
        .tokenomics-content {
            p{
                font-size: 16px;
                line-height: 30px;
            }
        }
    }
    .buy-metadog-text {
        .section-title{
            margin: auto;
        }
    }
    .affiliate-text{
        text-align: center;
        .join-btn{
            margin: auto;
        }
    }
    .banner-section {
        .overlay2{
            padding-top: 150px;
            padding-bottom: 50px;
        }
    }
    .banner-text{
        h1{
            font-size: 50px;
            line-height: 115%;
        }
    }
    .buy-metadog-text{
        text-align: center;
        .buy-metadog-btn{
            margin: auto;
        }
    }
    .buy-metadog-section{
        padding-top: 100px;
    }
    .affiliate-img, .buy-metadog-img{
        text-align: center;
        margin-top: 30px;
    }
    .about-text{
        text-align: center;
    }

    .footer-left{
        text-align: center;
        .footer-logo{
            margin-bottom: 30px;
            justify-content: center;
        }
        p{
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .footer-right{
        text-align: center;
        .footer-social-list{
            margin-top: 20px;
            margin-bottom: 30px;
            ul{
                justify-content: center;
            }
        }
    }
    .footer-right-bottom-section{
        justify-content: center;
    }
    .feature-section{
        padding-bottom: 60px;
    }
    .meet-racing-dog-section {
        .overlay{
            padding-top: 20px;
        }
    }
    .tokenomics-section{
        padding-bottom: 70px;
    }
    .tokenomics-data-section{
        margin-top: 20px;
    }
    .affiliate-section{
        padding-top: 60px;
    }
    .start-playing-section{
        padding: 80px 0px;
    }

    .race-section {    
        .dog {
            position: absolute;
            &1 {
                right: -10%;
                bottom: 9%;
            }
    
            &2 {
                top: 25%;
                right: 0%;
            }
    
            &3 {
                left: 30%;
                top: 62%
            }
    
            &4 {
                top: 10%;
                left: 36%;
            }
    
            &5 {
                bottom: -5%;
                left: 25%;
            }
    
            &6 {
                top: 45%;
                left: 30%;
            }
            .dog-inner{
                max-width: 50%;
            }

        }
    }

    .footer-bottom{
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }
    .footer-right {
        .footer-social-list {
            ul{
                max-width: 360px;
                width: 100%;
                margin: auto;
            }
        }
    }

}

@media only screen and (max-width: 575px) {
    body{
        font-size: 15px;
        line-height: 28px;
    }
    .tokenomics-section {
        .tokenomics-content {
            p{
                font-size: 15px;
                line-height: 30px;
            }
        }
    }
    .banner-text {
        h1{
            font-size: 44px;
        }
        h3{
            font-size: 24px;
        }
    }
    .section-title {
        .title{
            font-size: 16px;
        }
        .subtitle{
            font-size: 34px;
        }
    }
    .start-playing-content {
        h2{
            font-size: 32px;
        }
    }
    .about-card{
        .overlay{
            padding: 50px 20px;
        }
        .about-text {
            p{
                font-size: 15px;
                line-height: 28px;
            }
        }
    }
    
    .metadog-accordion-item{
        .accordion-header {
            .accordion-button{
                font-size: 18px;
                height: auto;
            }
        }
    }
    .metadog-accordion-body {
        p{
            font-size: 14px;
        }
    }
    .footer-right {
        h3{
            font-size: 27px;
        }
    }
    .footer-right-bottom-left p{
        font-size: 16px;
        text-align: left;
    }
    .footer-bottom {
        a{
            font-size: 14px;
        }
    }
}
@media only screen and (max-width: 425px) {
    .banner-text {
        h1{
            font-size: 38px;
        }
    }
    .footer-bottom {
        a{
            font-size: 13px;
        }
    }
}