@media only screen and (min-width: 1200px){
    .container {
        max-width: 1210px;
        margin: auto;
        padding: 0px 20px;
    }
}
@media only screen and (max-width: 1200px) {
    .header-right {
        .header-btns {
            .header-btn{
                font-size: 14px;
                line-height: 150%;
            }
        }
        ul{
            max-width: 410px;
            li{
                a{
                    font-size: 14px;
                }
            }
        }
    }
    .banner-section {
        .overlay2{
            padding-top: 200px;
        }
    }
    .banner-text {
        max-width: 630px;
        h3{
            margin-bottom: 0px;
            font-size: 32px;
        }
        h1{
            margin: 25px 0px;
            font-size: 70px;
        }
        p{
            margin-bottom: 40px;
        }
    }
    .feature-section{
        padding-bottom: 100px;
    }
    .about-card {
        .overlay{
            padding: 50px;
        }
    }
    .tokenomics-section {
        .tokenomics-content {
            p{
                margin-top: 30px;
                margin-bottom: 0px;
            }
        }
    }
    .meet-racing-dog-section {
        .overlay{
            padding-bottom: 100px;
            padding-top: 50px;
        }
    }
    .tokenomics-section{
        padding-bottom: 100px;
    }
    .tokenomics-data-section {
        .wallte-address {
            h5 {
                font-size: 16px;
            }
        }

        .tokenomics-data {
            h6 {
                font-size: 16px;
                padding: 25px 0px;
            }
        }
        .wallte-address{
            margin-top: 25px;
        } 
    }
    .affiliate-section{
        padding-top: 80px;
    }
    .buy-metadog-section{
        padding-top: 100px;
    }
    .start-playing-section{
        padding-top: 120px;
        padding-bottom: 100px;
    }
    .faq-section{
        padding-bottom: 150px;
    }
    .footer-card{
        padding: 50px 35px;
    }
    .footer-bottom{
        padding: 30px 0px;
    }
    .roadmap-card {
        padding: 23px 16px;
        .card-title{
            font-size: 19px;
        }
    }
    .section-title {
        .title{
            font-size: 18px;
            margin-bottom: 10px;
        }
        .subtitle{
            font-size: 40px;
        }
    }
    .affiliate-text {
        h4{
            margin-bottom: 40px;
            font-size: 30px;
        }
    }
    .race-section {
        .dog {
            .dog-inner{
                max-width: 80%;
            }
        }
    }
}


@media only screen and (max-width: 991px) {
    .header-right{
        display: none;
    }
    .banner-text {
        margin: auto;
        text-align: center;
    }
    .banner-btns{
        justify-content: center;
    }
    .banner-bottom-section{
        flex-direction: column;
        justify-content: center;
        .banner-timer{
            text-align: center;
        }
    }
    .banner-bottom-section{
        justify-content: flex-start;
        margin-top: 50px;
    }
    .tokenomics-data-section {
        flex-wrap: wrap;
        .tokenomics{
            &-left{
                width: 100%;
            }
            &-center{
                max-width: 400px;
                margin: 30px auto;
                width: 100%;
            }
            &-right{
                width: 100%;
            }
        }
    }
    .affiliate-section{
        z-index: 1;
        &::after{
            height: 150px;
            width: 150px;
        }
    }
    .start-playing-img {
        .dog-img{
            right: -10%;
            width: 60%;
        }
    }

    .race-section {
        .dog {
            .dog-inner{
                max-width: 70%;
            }
        }
    }
    .race-section {
        height: 572px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        .dog {
            position: absolute;
    
            &1 {
                right: 5%;
                bottom: 0%;
            }
    
            &2 {
                top: 20%;
                right: 15%;
            }
    
            &3 {
                left: 30%;
                top: 50%
            }
    
            &4 {
                top: 20%;
                left: 20%;
            }
    
            &5 {
                bottom: -5%;
                left: 25%;
            }
    
            &6 {
                top: 45%;
                left: 5%;
            }

        }
    }
}

@media only screen and (max-width: 768px) {
    .buy-metadog-text {
        .section-title{
            margin: auto;
        }
    }
    .affiliate-text{
        text-align: center;
        .join-btn{
            margin: auto;
        }
    }
    .banner-section {
        .overlay2{
            padding-top: 150px;
            padding-bottom: 50px;
        }
    }
    .banner-text{
        h1{
            font-size: 50px;
            line-height: 115%;
        }
    }
    .buy-metadog-text{
        text-align: center;
        .buy-metadog-btn{
            margin: auto;
        }
    }
    .buy-metadog-section{
        padding-top: 100px;
    }
    .affiliate-img, .buy-metadog-img{
        text-align: center;
        margin-top: 30px;
    }
    .about-text{
        text-align: center;
    }

    .footer-left{
        text-align: center;
        .footer-logo{
            margin-bottom: 30px;
            justify-content: center;
        }
        p{
            margin: auto;
            margin-bottom: 20px;
        }
    }
    .footer-right{
        text-align: center;
        .footer-social-list{
            margin-top: 20px;
            margin-bottom: 30px;
            ul{
                justify-content: center;
            }
        }
    }
    .footer-right-bottom-section{
        justify-content: center;
    }
    .feature-section{
        padding-bottom: 60px;
    }
    .meet-racing-dog-section {
        .overlay{
            padding-top: 20px;
        }
    }
    .tokenomics-section{
        padding-bottom: 70px;
    }
    .tokenomics-data-section{
        margin-top: 20px;
    }
    .affiliate-section{
        padding-top: 60px;
    }
    
    .start-playing-section{
        padding: 80px 0px;
    }

}

@media only screen and (max-width: 575px) {

}