@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Space+Grotesk:wght@300..700&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  background: #12142A;
  color: #FFF;
  leading-trim: both;
  text-edge: cap;
  font-family: Lexend;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Space Grotesk";
  font-weight: 700;
}

h1 {
  font-size: 80px;
  line-height: 115%;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 40px;
}

h4 {
  font-size: 36px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

.uppercase {
  text-transform: uppercase !important;
}

button {
  border: none;
}

.custom-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.container {
  max-width: 1210px;
  margin: auto;
  padding: 0px 20px;
}

/*-- animetion style start--*/
.spin {
  animation: spinAnimetionRevarse 5s infinite linear;
}

@keyframes spinAnimetionRevarse {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
/*-- animetion style end--*/
/*-- header style start --*/
.header-section {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
}

.header-section-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 31px 0px;
}

.header-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  width: 80%;
}
.header-right ul {
  display: flex;
  align-content: center;
  justify-content: space-between;
  max-width: 495px;
  width: 100%;
}
.header-right ul li a {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
}
.header-right .header-btns {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
.header-right .header-btns .header-btn {
  width: 130px;
  height: 50px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
}
.header-right .header-btns .header-btn.buy-btn {
  color: #F3F302;
  border: 2px solid rgba(243, 243, 2, 0.3);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.header-right .header-btns .header-btn.buy-btn::after {
  content: url(../images/icons/btn-shape1.svg);
  position: absolute;
  bottom: -6px;
}
.header-right .header-btns .header-btn.play-btn {
  color: #111;
  background: #F3F302;
}
.header-right .header-btns .header-btn.play-btn::after {
  content: url(../images/icons/btn-shape2.svg);
  position: absolute;
  bottom: -6px;
}

/*-- header style end --*/
/*-- section title style start --*/
.section-title {
  position: relative;
  z-index: 11;
}
.section-title .title {
  color: #F3F302;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-title .subtitle {
  color: #FFFFFF;
  font-weight: 700;
  margin-bottom: 0px;
}

/*-- section title style end --*/
/*-- banner style start --*/
.banner-section {
  background: url(../images/bg/banner-bg.png);
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.banner-section::before {
  content: "";
  border-radius: 400px;
  background: #0F1892;
  filter: blur(250px);
  height: 400px;
  width: 400px;
  position: absolute;
  left: 2%;
  top: -200px;
}
.banner-section .overlay {
  background: linear-gradient(180deg, #12142A 0%, rgba(18, 20, 42, 0) 67%);
}
.banner-section .overlay2 {
  background: linear-gradient(180deg, rgba(18, 20, 42, 0) 38.5%, #12142A 100%);
  padding-top: 300px;
  padding-bottom: 80px;
}

.banner-text {
  max-width: 721px;
  width: 100%;
}
.banner-text h3 {
  background: linear-gradient(180deg, #FFF 0%, rgba(243, 243, 2, 0.8) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text h1 {
  margin: 60px 0px;
  text-transform: uppercase;
}
.banner-text h1 span {
  text-shadow: 5px 0px 0px #FFFFFF;
  background: linear-gradient(180deg, #BC000E 0%, #BC000E 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.banner-text p {
  margin-bottom: 60px;
  font-weight: 500;
}

.banner-btns {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
}
.banner-btns .banner-btn {
  width: 180px;
  height: 60px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  position: relative;
}
.banner-btns .banner-btn.play-btn {
  color: #111;
  background: #F3F302;
}
.banner-btns .banner-btn.play-btn::after {
  content: url(../images/icons/btn-shape2.svg);
  position: absolute;
  bottom: -6px;
}
.banner-btns .banner-btn.whitepaper-btn {
  color: #FFFFFF;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.banner-btns .banner-btn.whitepaper-btn::after {
  content: url(../images/icons/btn-shape3.svg);
  position: absolute;
  bottom: -6px;
}

.banner-bottom-section {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  max-width: 950px;
  width: 100%;
}

.banner-bottom-left {
  max-width: 304px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.banner-bottom-left img {
  min-width: 50px;
  max-width: 50px;
}
.banner-bottom-left p {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0px;
}

.banner-timer h6 {
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0px;
}
.banner-timer h3 {
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 40px;
}

/*-- banner style end --*/
/*-- feature style start --*/
.feature-section {
  padding-bottom: 130px;
}

.feature-card {
  border-radius: 20px;
  border: 2px solid rgba(255, 255, 255, 0.0117647059);
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.01) 0%, rgba(255, 255, 255, 0.05) 100%);
  padding: 35px 30px 40px 30px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}
.feature-card .feature-icon {
  margin-bottom: 15px;
  position: relative;
  z-index: 1;
}
.feature-card p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0px;
  position: relative;
  z-index: 1;
}
.feature-card a {
  margin-top: 16px;
  color: #F3F302;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  position: relative;
  z-index: 1;
}
.feature-card1 p {
  -webkit-line-clamp: 2;
}
.feature-card1::after {
  content: "";
  background: #BC000E;
  filter: blur(60px);
  position: absolute;
  left: -50px;
  height: 100px;
  width: 100px;
  z-index: 0;
}
.feature-card2::after {
  content: "";
  background: #F3F302;
  filter: blur(60px);
  position: absolute;
  left: -50px;
  height: 100px;
  width: 100px;
  z-index: 0;
}
.feature-card3::after {
  content: "";
  background: #0811DB;
  filter: blur(60px);
  position: absolute;
  left: -50px;
  height: 100px;
  width: 100px;
  z-index: 0;
}

/*-- feature style end --*/
/*-- About style start --*/
.about-section {
  padding-bottom: 60px;
}

.about-card {
  background: url(../images/bg/about-bg.png);
  background-position: center left;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  overflow: hidden;
}
.about-card .overlay {
  background: linear-gradient(90deg, rgba(3, 6, 89, 0) 0%, rgba(3, 6, 89, 0.92) 48.82%);
  padding: 100px 70px;
}
.about-card .about-text {
  max-width: 600px;
  margin-left: auto;
}
.about-card .about-text p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}
.about-card .about-us-content {
  margin-top: 40px;
}

/*-- About style end --*/
/*-- meet-racing-dog-section start --*/
.meet-racing-dog-section {
  background: url(../images/bg/race-bg.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}
.meet-racing-dog-section .overlay {
  background: linear-gradient(180deg, #12142A 0%, rgba(18, 20, 42, 0.05) 47%, #111330 100%);
  padding-top: 70px;
  padding-bottom: 120px;
}

.race-section {
  height: 572px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.race-section .dog {
  position: absolute;
}
.race-section .dog1 {
  right: 10%;
  bottom: 0%;
}
.race-section .dog2 {
  top: 20%;
  right: 20%;
}
.race-section .dog3 {
  left: 40%;
  top: 50%;
}
.race-section .dog4 {
  top: 20%;
  left: 30%;
}
.race-section .dog5 {
  bottom: -5%;
  left: 25%;
}
.race-section .dog6 {
  top: 45%;
  left: 10%;
}
.race-section .dog .dog-inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.race-section .dog .dog-detail {
  position: absolute;
  bottom: 70%;
  z-index: 11;
  height: 0px;
  overflow: hidden;
  width: 320px;
  background: linear-gradient(180deg, #030659 0%, rgba(5, 10, 142, 0.3) 52%, #060DBF 100%);
  border-radius: 30px;
  -webkit-backdrop-filter: blur(7.5px);
          backdrop-filter: blur(7.5px);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: bottom center;
  opacity: 0;
  transform: translateY(-30px);
}
.race-section .dog .dog-detail .dog-detail-inner {
  height: 100%;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 25px 40px 25px;
  opacity: 0;
  transition: 0.4s;
}
.race-section .dog .dog-detail .dog-detail-inner::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -18px;
  left: 35%;
  border-right: 47px solid transparent;
  border-left: 47px solid transparent;
  border-top: 18px solid #070dba;
  border-radius: 0px;
}
.race-section .dog .dog-detail .dog-detail-inner::before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  bottom: -20px;
  left: 34%;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 20px solid rgba(255, 255, 255, 0.3);
  border-radius: 0px;
}
.race-section .dog .dog-detail .detail-dog-img {
  max-width: 100%;
}
.race-section .dog .dog-detail .detail-dog-img img {
  width: 100%;
}
.race-section .dog .dog-detail h2 {
  color: #FFF;
  font-size: 80px;
  font-weight: 700;
  line-height: 50%;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.race-section .dog .dog-detail h2 span {
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  margin-left: 20px;
}
.race-section .dog .dog-detail p {
  color: rgba(255, 255, 255, 0.9);
  font-family: Lexend;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-section .dog .dog-dots {
  height: 22px;
  width: 22px;
  overflow: hidden;
  border-radius: 50%;
  border: 2px solid rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
.race-section .dog .dog-dots .dots-inner {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  overflow: hidden;
  background: #FFFFFF;
}
.race-section .dog .dog-dots:hover {
  border: 2px solid rgba(243, 243, 2, 0.5098039216);
}
.race-section .dog .dog-dots:hover .dots-inner {
  background: #F3F302;
}

.dog-detail-section {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dog-detail-section:hover .dog-detail {
  height: 450px;
  border: 2px solid rgba(255, 255, 255, 0.3);
  animation: dogDetailShow 0.2s linear;
  opacity: 1;
  overflow: visible;
}
.dog-detail-section:hover .dog-detail .dog-detail-inner {
  opacity: 1;
}

@keyframes dogDetailShow {
  0% {
    opacity: 0;
    overflow: hidden;
  }
  100% {
    opacity: 1;
    overflow: visible;
  }
}
/*-- meet-racing-dog-section end --*/
/*-- Roadmap style start --*/
.roadmap-content {
  background: linear-gradient(180deg, #12142A 0%, rgba(18, 20, 42, 0) 47%, #12142A 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 40px;
}
.roadmap-content::after {
  content: "";
  height: 120%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -20px;
  background: linear-gradient(180deg, #12142A 0%, rgba(18, 20, 42, 0) 47%, #12142A 100%);
  z-index: 1;
}
.roadmap-content .shape {
  position: absolute;
  top: -20px;
  z-index: 0;
  height: 130%;
  overflow: hidden;
}

.roadmap-card {
  position: relative;
  z-index: 3;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.05);
  padding: 23px 20px;
  min-height: 100%;
  overflow: hidden;
}
.roadmap-card::after {
  content: "";
  border-radius: 20px 20px 0px 0px;
  background: rgba(255, 255, 255, 0.1);
  height: 70px;
  width: 100%;
  left: 0px;
  top: 0px;
  position: absolute;
  z-index: 1;
}
.roadmap-card::before {
  content: "";
  border-radius: 20px 20px 0px 0px;
  background: #0811DB;
  filter: blur(65px);
  height: 100px;
  width: 100px;
  left: -30px;
  top: -30px;
  position: absolute;
  z-index: 0;
}
.roadmap-card .card-title {
  margin-bottom: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 3;
}
.roadmap-card .card-title.title-green {
  color: #00E37C;
}
.roadmap-card ul {
  position: relative;
  z-index: 3;
}
.roadmap-card ul li {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  position: relative;
  margin-bottom: 20px;
  padding-left: 19px;
}
.roadmap-card ul li::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 7px;
  left: 0px;
  border-radius: 50%;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
}
.roadmap-card ul li.done::after {
  content: "";
  height: 10px;
  width: 10px;
  position: absolute;
  top: 7px;
  left: 0px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.2);
}

/*-- Roadmap style end --*/
/*-- tokenomics style start --*/
.tokenomics-section {
  padding-bottom: 130px;
  background: linear-gradient(180deg, rgba(3, 6, 89, 0) 0%, #030659 40%, #030659 58%, rgba(3, 6, 89, 0) 100%);
}
.tokenomics-section .tokenomics-content p {
  max-width: 523px;
  width: 1005;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.tokenomics-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0px 20px;
}
.tokenomics-chart img {
  width: 90%;
}

.tokenomics-data-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.tokenomics-data-section .tokenomics-left {
  width: 33.33%;
}
.tokenomics-data-section .tokenomics-center {
  width: 33.33%;
}
.tokenomics-data-section .tokenomics-right {
  width: 33.33%;
}
.tokenomics-data-section .tokenomics-right .tokenomics-data h6 {
  flex-direction: row-reverse;
}
.tokenomics-data-section .tokenomics-data h6 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  color: #FFFFFF;
  font-weight: 700;
  padding: 40px 0px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin: 0px;
}
.tokenomics-data-section .tokenomics-data h6:nth-last-child(1) {
  border: none;
}
.tokenomics-data-section .wallte-address {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  gap: 10px;
  margin-top: 40px;
}
.tokenomics-data-section .wallte-address .coin-img {
  overflow: hidden;
  border-radius: 50px;
  min-height: 20px;
  min-width: 20px;
  max-height: 20px;
  max-width: 20px;
}
.tokenomics-data-section .wallte-address h5 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  color: #FFF;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 0px;
}
.tokenomics-data-section .wallte-address h5 .token-assress {
  position: relative;
}
.tokenomics-data-section .wallte-address h5 .token-assress::after {
  position: absolute;
  content: ":";
  left: -20px;
}
.tokenomics-data-section .wallte-address .copy-address {
  cursor: pointer;
}
.tokenomics-data-section .wallte-address.left .copy-address {
  position: absolute;
  right: 0px;
}
.tokenomics-data-section .wallte-address.right {
  flex-direction: row-reverse;
}
.tokenomics-data-section .wallte-address.right .copy-address {
  position: absolute;
  left: 0px;
}
.tokenomics-data-section .wallte-address.right h5 {
  flex-direction: row-reverse;
}
.tokenomics-data-section .wallte-address.right h5 .token-assress::after {
  content: ":";
  right: -20px;
  left: auto;
}

/*-- tokenomics style end --*/
/*-- affiliate-section style start --*/
.affiliate-section {
  padding-top: 170px;
  position: relative;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.affiliate-section::after {
  content: "";
  position: absolute;
  bottom: -40%;
  height: 232px;
  width: 232px;
  background: #BC000E;
  filter: blur(175px);
  z-index: 1;
}

.affiliate-text {
  max-width: 619px;
  width: 100%;
  margin-right: auto;
  position: relative;
  z-index: 2;
}
.affiliate-text h4 {
  margin-bottom: 60px;
  margin-top: 10px;
}
.affiliate-text .join-btn {
  width: 180px;
  height: 60px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  color: #111;
  background: #F3F302;
}
.affiliate-text .join-btn::after {
  content: url(../images/icons/btn-shape2.svg);
  position: absolute;
  bottom: -6px;
}

.affiliate-img {
  text-align: center;
  position: relative;
  z-index: 2;
}

/*-- affiliate-section style End --*/
/*-- buy-metadog-section style start --*/
.buy-metadog-section {
  padding-top: 170px;
  position: relative;
  z-index: 1;
}

.buy-metadog-text {
  max-width: 565px;
  width: 100%;
  margin-left: auto;
}
.buy-metadog-text .section-title {
  max-width: 476px;
}
.buy-metadog-text p {
  margin: 35px 0px 45px 0px;
}
.buy-metadog-text .buy-metadog-btn {
  width: 180px;
  height: 60px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
  color: #111;
  background: #F3F302;
}
.buy-metadog-text .buy-metadog-btn::after {
  content: url(../images/icons/btn-shape2.svg);
  position: absolute;
  bottom: -6px;
}

.buy-metadog-img {
  text-align: center;
}

/*-- buy-metadog-section style End --*/
/*-- start-playing-section style Start --*/
.start-playing-section {
  padding-top: 190px;
  padding-bottom: 130px;
  position: relative;
}
.start-playing-section .start-play-bg {
  position: absolute;
  z-index: 0;
  top: -15%;
  width: 100%;
  left: 0px;
}

.start-playing-content {
  position: relative;
  z-index: 1;
}
.start-playing-content h2 {
  max-width: 476px;
  width: 100%;
  margin: auto;
  text-align: center;
}
.start-playing-content p {
  max-width: 696px;
  width: 100%;
  margin: 40px auto;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.start-playing-img {
  max-width: 603px;
  width: 100%;
  text-align: center;
  margin: auto;
  position: relative;
}
.start-playing-img .laptop-img {
  width: 100%;
}
.start-playing-img .dog-img {
  position: absolute;
  top: 15%;
  right: -18%;
}

.start-playing-btns {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.start-playing-btns .playing-btn {
  width: 180px;
  height: 60px;
  font-family: "Space Grotesk";
  font-size: 16px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  position: relative;
}
.start-playing-btns .playing-btn.play-btn {
  color: #111;
  background: #F3F302;
}
.start-playing-btns .playing-btn.play-btn::after {
  content: url(../images/icons/btn-shape2.svg);
  position: absolute;
  bottom: -6px;
}
.start-playing-btns .playing-btn.buy-btn {
  color: #F3F302;
  border: 2px solid rgba(243, 243, 2, 0.3);
  background: rgba(255, 255, 255, 0.1);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
.start-playing-btns .playing-btn.buy-btn::after {
  content: url(../images/icons/btn-shape1.svg);
  position: absolute;
  bottom: -6px;
}

/*-- start-playing-section style End --*/
/*-- faq style start --*/
.faq-section {
  background: linear-gradient(180deg, rgba(3, 6, 89, 0) 0%, #030659 40%, #030659 58%, rgba(3, 6, 89, 0) 100%);
  padding-bottom: 200px;
  position: relative;
  z-index: 1;
}
.faq-section .section-title {
  max-width: 465px;
  width: 100%;
  margin: auto;
}

.faq-content {
  max-width: 770px;
  width: 100%;
  margin: auto;
  margin-top: 50px;
}

.metadog-accordion-item {
  background-color: transparent;
  border-radius: 20px !important;
  overflow: hidden;
  border: none;
  margin-bottom: 15px;
  background: transparent;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.08);
  position: relative;
}
.metadog-accordion-item .accordion-header .accordion-button {
  background: transparent;
  position: inherit;
  outline: none;
  border: none;
  box-shadow: none;
  color: #FFFFFF !important;
  font-size: 22px;
  font-weight: 700;
  line-height: 30px;
  padding: 15px 30px;
  height: 70px;
}
.metadog-accordion-item .accordion-header .accordion-button:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.metadog-accordion-item .accordion-header .accordion-button::before {
  content: url(../images/icons/plus.svg);
  position: absolute;
  right: 30px;
  top: 20px;
  transition: 0.3s;
}
.metadog-accordion-item .accordion-header .accordion-button:not(.collapsed) {
  color: #111;
}
.metadog-accordion-item .accordion-header .accordion-button:not(.collapsed) .shape {
  position: absolute;
  top: 0px;
  height: 100%;
  width: 30%;
  z-index: 0;
}
.metadog-accordion-item .accordion-header .accordion-button:not(.collapsed) .shape.left {
  border-radius: 20px 0px 0px 20px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%);
  left: 0px;
}
.metadog-accordion-item .accordion-header .accordion-button:not(.collapsed) .shape.right {
  border-radius: 0px 20px 20px 0px;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.1) 100%);
  right: 0px;
}
.metadog-accordion-item .accordion-header .accordion-button:not(.collapsed)::before {
  top: 26px;
  transform: rotate(180deg);
  content: url(../images/icons/minus.svg);
}
.metadog-accordion-item .accordion-header .accordion-button::after {
  display: none !important;
}

.metadog-accordion-body {
  padding: 0px 30px 35px 30px;
  position: relative;
  z-index: 1;
}
.metadog-accordion-body p {
  margin-bottom: 0px;
  font-weight: 500;
  text-align: left;
  color: rgba(255, 255, 255, 0.9) !important;
  font-family: Lexend;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/*-- faq style end --*/
/*-- footer style start --*/
.footer-section {
  margin-top: -200px;
  position: relative;
  z-index: 0;
  background: url(../images/bg/footer-bg.png);
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
}
.footer-section .overlay {
  background: linear-gradient(180deg, #12142A 0%, rgba(18, 20, 42, 0.9) 100%);
  padding-top: 132px;
}

.footer-card {
  border-radius: 30px;
  background: linear-gradient(105deg, rgba(255, 255, 255, 0.1) 0%, rgba(6, 13, 191, 0) 60.52%, rgba(255, 255, 255, 0) 60.52%);
  padding: 80px 40px;
}

.footer-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 50px;
}

.footer-left p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  max-width: 216px;
  width: 100%;
}
.footer-left p a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
}
.footer-left .footer-menu {
  padding-left: 20px;
}
.footer-left .footer-menu ul li {
  margin-bottom: 20px;
}
.footer-left .footer-menu ul li a {
  color: rgba(255, 255, 255, 0.9);
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  text-decoration: none;
}

.footer-right h3 {
  margin-bottom: 0px;
  color: #FFF;
  font-size: 30px;
  font-weight: 700;
  line-height: 55px;
  text-transform: uppercase;
}

.footer-social-list {
  margin-top: 50px;
  margin-bottom: 90px;
}
.footer-social-list ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 30px;
}
.footer-social-list ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  height: 70px;
  width: 70px;
  overflow: hidden;
}

.footer-right-bottom-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
  width: 100%;
}

.footer-right-bottom-left {
  max-width: 304px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}
.footer-right-bottom-left img {
  min-width: 50px;
  max-width: 50px;
}
.footer-right-bottom-left p {
  color: #FFF;
  font-family: "Space Grotesk";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 0px;
}

/*-- footer style end --*/